Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, ansible-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: file-contents-sorter
        files: "^(tool-versions|fish/fish_plugins|_default-golang-pkgs|default-.*.txt|nvim/lua/config/options.lua)$"
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
        files: "^bundler/config$"
      - id: check-toml
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 8898e97256c2e5248fe3feff59c5d30c816b3f6b
    hooks:
      - id: shellcheck
        exclude: "git/template/hooks/pre-commit$"
      - id: shfmt
        exclude: "git/template/hooks/pre-commit$"
      - id: flake518
      - id: vint
      - id: prettier
      - id: rome
      - id: rubocop
        files: "(Brewfile.*|\\.rb)$"
        types: []
  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        entry: fish_indent -w
        language: system
        types: [fish]
      - id: stylua
        name: stylua
        entry: stylua --config-path stylua/stylua.toml
        language: system
        types: [lua]
      - id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        types: [lua]
      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint -p --write ansible
        language: system
        files: "ansible/.*.ya?ml$"
        pass_filenames: false
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

Improve dotenv_load to allow cd-ing to a subdir
  fish/config.fish
  fish/functions/dotenv_load.fish
Due: none

Only create dotenv.allow when needed
  fish/functions/dotenv_allowed.fish
  fish/functions/dotenv_load.fish
Due: none

Switch from virtualfish to a custom function
  fish/conf.d/virtualfish-loader.fish
  fish/config.fish
  fish/functions/_virtualenv_autoload.fish
  requirements.txt
  vf-requirements.txt
Due: none

Set a more reasonable tfenv location
  fish/config.fish
Due: none

Put Mason in path
  fish/config.fish
Due: none

Remove iterm
  Brewfile
  cron.d/daily/exclude-timemachine-codecaches.sh
  iterm2/profiles.json
Due: none

Add venv/pypackages to ignored files for backups
  cron.d/daily/exclude-timemachine-codecaches.sh
Due: none

Use official stylua pre-commit hook
  .pre-commit-config.yaml
Due: none

Lint in a Github workflow
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Lint in a Github workflow
  .github/workflows/main.yml
Due: none

Use vi function wrapper from fzf
  fish/config.fish
Due: none

Install hexyl hex viewer
  Brewfile
  fish/config.fish
Due: none

Fix dotenv_load actually loading
  fish/functions/dotenv_load.fish
Due: none

Convert more nvim config to lua
  nvim/filetype.lua
  nvim/filetype.vim
  nvim/ftplugin/eruby.lua
  nvim/ftplugin/eruby.vim
  nvim/plugin/mark.vim
Due: none

Improved colour scheme
  wezterm/colors/Monokai Spectrum.toml
  wezterm/wezterm.lua
Due: taplo

Disable unneeded linter warning
  .ansible-lint
Due: none

Disable a misguided and impossible-to-comply-with linter check
  .ansible-lint
Due: none

Refactor dark mode switcher function to support more apps
  _hammerspoon/init.lua
Due: none

Using Hookmark again
  Brewfile
  _hammerspoon/copy_links.lua
  _hammerspoon/init.lua
Due: none

Add gitattributes
  .gitattributes
Due: none

More robust python cronjob
  cron.d/hourly/strava2dayone.sh
Due: none

Use Rome for formatting JSON
  .pre-commit-config.yaml
  nvim/lua/config/plugins/formatters.lua
  nvim/lua/config/plugins/lsp.lua
Due: none

Disable pycodestyle/pydocstyle: let ruff(lsp) do it
  nvim/lua/config/plugins/lsp.lua
Due: none

Trying out helix editor
  Brewfile
  fish/config.fish
  helix/config.toml
  helix/languages.toml
Due: taplo

wip
  helix/languages-solargraph.toml
Due: taplo

wip
  helix/languages.toml
Due: taplo

Trying out helix editor
  Brewfile
  helix/config.toml
  helix/languages.toml
Due: taplo

Install editor dependencies directly, not through Mason
  Brewfile
  ansible/tasks/node.yaml
  ansible/tasks/packages.yaml
  fish/config.fish
  nvim/lua/config/plugins.lua
  nvim/lua/config/plugins/formatters.lua
  nvim/lua/config/plugins/linters.lua
  nvim/lua/config/plugins/lsp.lua
  requirements.txt
Due: ansible-lint

Don't lazyload vim-polyglot
  nvim/lua/config/plugins.lua
Due: none

Switch to rosé-pine theme (with customisation in wezterm)
  .gitignore
  ansible/tasks/packages.yaml
  bat/config
  git/config
  helix/config.toml
  nvim/lua/config/plugins.lua
  wezterm/colors/Monokai Spectrum.toml
  wezterm/wezterm.lua
Due: taplo, ansible-lint

Add more language configurations
  helix/languages.toml
Due: taplo

Add example config file for using solargraph instead of standard
  helix/languages-solargraph.toml
Due: taplo

Format Lua with stylua
  helix/languages.toml
Due: taplo

Use prettierd in helix rather than prettier
  helix/languages.toml
Due: taplo

Improve editor handling
  fish/config.fish
  fish/functions/neovide-remote.fish
Due: none

Stop wezterm blocking fzf's alt+enter keybinding
  wezterm/wezterm.lua
Due: none

Fix lua_ls log/meta path (defaults to within homebrew directory)
  nvim/lua/config/plugins/lsp.lua
Due: none

Update brewfile
  Brewfile
Due: none

Set up ltex-ls for markdown
  Brewfile
  helix/languages.toml
  nvim/lua/config/plugins/lsp.lua
Due: taplo
