Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, ansible-lint, standardrb

taplo:
  name: taplo
  entry: taplo fmt
  language: system

ansible-lint:
  name: ansible-lint
  entry: ansible-lint -p --write ansible
  language: system
  pass_filenames: false

standardrb:
  name: standardrb
  language: system
  entry: standardrb --fix

Simplify lualine config
  nvim/lua/config/plugins/lualine.lua
Due: none

Default filetype settings are now sufficient
  nvim/lua/config/plugins/lsp.lua
Due: none

Enable LSP/linting for terraform
  Brewfile
  nvim/lua/config/plugins/lsp.lua
Due: standardrb

Use standardrb as filter for formatting, rather than LSP (which fails in Helix)
  helix/languages.toml
Due: taplo

Avoid conflict between standardrb --lsp and solargraph
  nvim/lua/config/plugins/lsp.lua
Due: none

Try switching mapleader to space
  nvim/lua/config/mappings.lua
Due: none

Switch back to null-ls
  nvim/lua/config/plugins/formatters.lua
  nvim/lua/config/plugins/linters.lua
  nvim/lua/config/plugins/lsp.lua
  nvim/lua/config/plugins/null-ls.lua
Due: none

Make LSP autowrite more robust
  nvim/lua/config/plugins/lsp.lua
Due: none

Reformat for brevity
  nvim/lua/config/plugins/lsp.lua
Due: none

Set expandtab by default
  nvim/ftplugin/fish.lua
  nvim/ftplugin/html.lua
  nvim/ftplugin/javascript.lua
  nvim/ftplugin/json.lua
  nvim/ftplugin/lua.lua
  nvim/ftplugin/python.lua
  nvim/ftplugin/ruby.lua
  nvim/ftplugin/rust.lua
  nvim/ftplugin/sh.lua
  nvim/ftplugin/terraform.lua
  nvim/ftplugin/toml.lua
  nvim/ftplugin/yaml.lua
  nvim/lua/config/options.lua
Due: none

More concise setting filetype options
  nvim/filetype.lua
  nvim/ftplugin/fish.lua
  nvim/ftplugin/go.lua
  nvim/ftplugin/html.lua
  nvim/ftplugin/javascript.lua
  nvim/ftplugin/json.lua
  nvim/ftplugin/lua.lua
  nvim/ftplugin/python.lua
  nvim/ftplugin/ruby.lua
  nvim/ftplugin/rust.lua
  nvim/ftplugin/sh.lua
  nvim/ftplugin/terraform.lua
  nvim/ftplugin/toml.lua
  nvim/ftplugin/yaml.lua
Due: none

Colorcolumn at 120 by default
  nvim/ftplugin/go.lua
  nvim/ftplugin/lua.lua
  nvim/lua/config/commands.lua
Due: none

Switch from LaTeX to Typst for building PDFs
  Brewfile
  pandoc/Study.just
  pandoc/defaults/defaults.yaml
  pandoc/defaults/open-university.yaml
Due: standardrb

Disable Ruff in Pylsp in Neovim
  nvim/lua/config/plugins/lsp.lua
Due: none

Ensure Cargo installs to the right directory
  fish/config.fish
Due: none

Configure some additional settings
  helix/config.toml
Due: taplo

Longer lines in Toml files
  helix/languages.toml
  taplo.toml
Due: taplo

Switch to multi-langserver branch of Helix
  helix/languages-solargraph.toml
  helix/languages.toml
Due: taplo

Format Lua through the languageserver
  helix/languages.toml
  nvim/lua/config/plugins/lsp.lua
  nvim/lua/config/plugins/null-ls.lua
Due: taplo

Enable golangci-lint-langserver in helix
  helix/languages.toml
Due: taplo

Use standardrb --lsp for formatting: works in Helix HEAD
  helix/languages.toml
Due: taplo

Use Rubocop formatting through Solargraph when I don't want Standard (i.e. work)
  helix/languages-solargraph.toml
Due: taplo

Fix language server for javascript/typescript
  helix/languages.toml
Due: taplo

Switch to Helix as default editor
  fish/config.fish
Due: none

Should use CARGO_HOME not CARGO_DIR
  ansible/tasks/rust.yaml
  fish/config.fish
Due: ansible-lint

Fix Ruby install
  Brewfile
  ansible/tasks/ruby.yaml
Due: ansible-lint, standardrb

No need for python-lsp additional dependencies now Mason is no longer used
  ansible/tasks/packages.yaml
Due: ansible-lint

Pass logpath/metapath to luals
  helix/languages.toml
Due: taplo

Simplify pylsp config
  helix/languages.toml
Due: taplo

Limit cronjob setup by hostname
  ansible/tasks/cronjobs.yaml
Due: ansible-lint

Faster ruby gem install via bundler
  ansible/tasks/ruby.yaml
  ansible/templates/Gemfile.j2
Due: ansible-lint

Remove all but basic vim config
  Brewfile
  fish/functions/neovide-remote.fish
  nvim/ftplugin/eruby.lua
  nvim/ftplugin/gitcommit.lua
  nvim/ftplugin/python.lua
  nvim/ftplugin/ruby.lua
  nvim/ftplugin/rust.lua
  nvim/init.lua
  nvim/lua/config/appearance.lua
  nvim/lua/config/commands.lua
  nvim/lua/config/gui.lua
  nvim/lua/config/lazy.lua
  nvim/lua/config/mappings.lua
  nvim/lua/config/options.lua
  nvim/lua/config/plugins.lua
  nvim/lua/config/plugins/completion.lua
  nvim/lua/config/plugins/dap.lua
  nvim/lua/config/plugins/gitsigns.lua
  nvim/lua/config/plugins/lsp.lua
  nvim/lua/config/plugins/lualine.lua
  nvim/lua/config/plugins/null-ls.lua
  nvim/lua/config/plugins/rust.lua
  nvim/lua/config/plugins/telescope.lua
  nvim/lua/config/plugins/treesitter.lua
  nvim/lua/config/plugins/trouble.lua
  nvim/lua/config/plugins/wilder.lua
  nvim/lua/utils.lua
Due: standardrb

Remove iterm config
  ansible/tasks/dotfiles.yaml
  ansible/tasks/macos.yaml
Due: ansible-lint

Install required gems for all installed rubies
  ansible/tasks/ruby.yaml
Due: ansible-lint

Limit ansible homebrew to personal machine
  ansible/tasks/homebrew.yaml
  ansible/tasks/macos.yaml
Due: ansible-lint

Split dotfiles and cronjobs config
  ansible/tasks/cronjobs.yaml
  ansible/tasks/dotfiles.yaml
Due: ansible-lint

Simplify editor execution from fzf
  fish/config.fish
Due: none

Switch back to Monokai
  ansible/tasks/packages.yaml
  bat/config
  git/config
  helix/config.toml
  wezterm/wezterm.lua
Due: taplo, ansible-lint

Make ansible python tasks more robust
  ansible/tasks/python.yaml
Due: ansible-lint

Run pip in parallel to speed up
  ansible/main.yaml
  ansible/tasks/python.yaml
Due: ansible-lint

Path conditions:
  taplo: any of: \.toml$
  ansible-lint: any of: ansible/.*.ya?ml$
  standardrb: any of: (Brewfile.*|\.rb)$
