Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, standardrb

taplo:
  name: taplo
  entry: taplo fmt
  language: system

standardrb:
  name: standardrb
  language: system
  entry: standardrb --fix

Set improved history options
  zsh/zshrc
Due: none

Use Atuin for shell history
  Brewfile
  zsh/zshrc
Due: standardrb

Install tfenv on personal machine
  Brewfile
Due: standardrb

Use Pure title variables rather than overriding functions
  zsh/plugins.txt
  zsh/zshrc
Due: none

Enable kitty extended keyboard mode
  wezterm/wezterm.lua
Due: none

Import OMZ git_current_branch function
  zsh/functions/git_current_branch
Due: none

Use meld as mergetool
  Brewfile
  git/config
Due: standardrb

Update luarc
  _hammerspoon/.luarc.json
Due: none

Use luarc as root
  helix/languages.toml
Due: taplo

Case-insensitive completion in zsh
  zsh/zshrc
Due: none

Install zsh-autopair
  zsh/plugins.txt
Due: none

Input font again
  Brewfile
  wezterm/wezterm.lua
Due: standardrb

Disable kitty keyboard
  wezterm/wezterm.lua
Due: none

Meld is a cask not a brew
  Brewfile
Due: standardrb

Add more zsh options
  zsh/zshrc
Due: none

Use djlint for html formatting
  helix/languages.toml
  requirements.txt
Due: taplo

Run setenv script on all MacOS
  scripts/provision.d/os-darwin.sh
Due: none

Changing my terminal/editor theme again
  helix/config.toml
  wezterm/wezterm.lua
Due: taplo

SSH settings for VPS
  _ssh/config
Due: none

Only load chruby if a rubies directory exists
  zsh/zshenv
  zsh/zshrc
Due: none

Add urlencode function
  zsh/functions/urlencode
Due: none

Switch Git host
  .gitmodules
Due: none

Change username
  _ssh/config
Due: none

Better curl alias
  zsh/zshrc
Due: none

Make strava cronjob more reliable
  cron.d/hourly/strava2dayone.sh
Due: none

Install ansible stuff on work machine
  Brewfile
Due: standardrb

Ensure gem dir exists before linking to it
  scripts/provision.d/ruby.sh
Due: none

Remove atuin
  Brewfile
  zsh/zshrc
Due: standardrb

Update standard/rubocop config
  .standard_extensions.yml
  .standardrb-default.yml
  rubocop/config.yml
Due: none

Update gitignore
  .gitignore
Due: none

Don't use Pure prompt any more
  zsh/plugins.txt
  zsh/zshrc
Due: none

Use file extensions for zsh dotfiles so helix can detect
  scripts/provision.d/dotfiles.sh
  zsh/zshenv.zsh
  zsh/zshrc.zsh
Due: none

Revert "Changing my terminal/editor theme again"
  helix/config.toml
  wezterm/wezterm.lua
Due: taplo

Improve Monokai use of colours
  wezterm/wezterm.lua
Due: none

Don't use Pure prompt any more
  zsh/zshrc.zsh
Due: none

Fix black shade
  wezterm/wezterm.lua
Due: none

Show pipestatus if nonzero
  zsh/zshrc.zsh
Due: none

Show runtime of commands in prompt
  zsh/zshrc.zsh
Due: none

Refactor preprompt function
  zsh/zshrc.zsh
Due: none

Space git-prompt-diverged symbol
  zsh/zshrc.zsh
Due: none

Path conditions:
  taplo: any of: \.toml$
  standardrb: any of: (Brewfile.*|\.rb)$
