Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, standardrb

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: file-contents-sorter
        files: "^(tool-versions|fish/fish_plugins|_default-golang-pkgs|default-.*.txt|nvim/lua/config/options.lua|zsh/plugins.txt)$"
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
        files: "^bundler/config$"
      - id: check-toml
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: af9758ce9c3d144b9fb589f8f35c1a52a3580efc
    hooks:
      - id: shellcheck
        exclude: "git/template/hooks/pre-commit$"
      - id: shellcheck
        name: shellcheck (zsh)
        files: "^zsh/(z|functions/).*"
        types: []
        args: ["--shell=bash"]
      - id: shfmt
        exclude: "git/template/hooks/pre-commit$"
      - id: shfmt
        name: shfmt (zsh)
        files: "^zsh/(z|functions/).*"
        types: []
      - id: vint
      - id: prettier
      - id: rome
  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        entry: fish_indent -w
        language: system
        types: [fish]
      - id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        types: [lua]
      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]
      - id: standardrb
        name: standardrb
        language: system
        files: "(Brewfile.*|\\.rb)$"
        types: []
        entry: standardrb --fix
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.243"
    hooks:
      - id: ruff
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.17.0
    hooks:
      - id: stylua-github
        args: [--config-path, stylua/stylua.toml]

Use sublime merge as git mergetool
  Brewfile
  git/config
Due: standardrb

Use Starship prompt with a Pure style
  Brewfile
  starship.toml
  zsh/zshrc.zsh
Due: taplo, standardrb

Configure indentation in djlint
  helix/languages.toml
Due: taplo

Run fnm only if installed
  zsh/zshenv.zsh
  zsh/zshrc.zsh
Due: none

Run pyenv only if installed
  zsh/zshenv.zsh
Due: none

Add Helix formatter config for Go templates
  helix/languages-gotmpl.toml
Due: taplo

Periodically git-fetch in the background
  zsh/zshrc.zsh
Due: none

Use the gotmpl filetype as appropriate
  helix/languages-gotmpl.toml
  helix/languages.toml
Due: taplo

Add a fzf-based branch picker widget
  zsh/functions/_fzf_branch_picker_widget
  zsh/zshrc.zsh
Due: none

Make sure this always returns true: possible cause of random exit bug
  zsh/zshrc.zsh
Due: none

Switching font again
  Brewfile
  wezterm/wezterm.lua
Due: standardrb

Rome is now Biome
  .github/workflows/main.yml
  .pre-commit-config.yaml
  biome.json
  default-node-packages.txt
  helix/languages.toml
Due: taplo

Don't bother redrawing prompt if git hasn't changed
  zsh/zshrc.zsh
Due: none

Handle quitting fzf cleanly
  zsh/functions/_fzf_branch_picker_widget
Due: none

Stop git rev-parse breaking when it can't read /dev/tty
  zsh/zshrc.zsh
Due: none

Exa is now Eza
  Brewfile
  zsh/zshrc.zsh
Due: standardrb

Simplify gopls/gofumpt config
  helix/languages.toml
Due: taplo

Enable gopls for template files
  helix/languages.toml
Due: taplo

Update golangci-lint-langserver settings
  helix/languages.toml
Due: taplo

Fix error output of prompt update loop
  zsh/zshrc.zsh
Due: none

Add alias for git mergetool
  zsh/zshrc.zsh
Due: none

Add function to make omz git stuff work
  zsh/zshrc.zsh
Due: none

Set prompt update period to 5 seconds
  zsh/zshrc.zsh
Due: none

Simplify rev-parse call
  zsh/zshrc.zsh
Due: none

Improve reliability of prompt updates
  zsh/zshrc.zsh
Due: none

Correctly update prompt status on git commit and push
  zsh/zshrc.zsh
Due: none

Autoformat eruby
  helix/languages.toml
Due: taplo

Use same terminal font size in all cases
  wezterm/wezterm.lua
Due: none

Docker/terraform needed only for work
  Brewfile
Due: standardrb

Switch theme again
  bat/config
  git/config
  helix/config.toml
  scripts/provision.d/packages.sh
  wezterm/wezterm.lua
Due: taplo

Stop title updating from breaking on % in command
  zsh/zshrc.zsh
Due: none
