Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, ansible-lint, standardrb

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: file-contents-sorter
        files: "^(tool-versions|fish/fish_plugins|_default-golang-pkgs|default-.*.txt|nvim/lua/config/options.lua)$"
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
        files: "^bundler/config$"
      - id: check-toml
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 2284f1b82f3b384d13aa985c1b2f5302463d43db
    hooks:
      - id: shellcheck
        exclude: "git/template/hooks/pre-commit$"
      - id: shfmt
        exclude: "git/template/hooks/pre-commit$"
      - id: vint
      - id: prettier
      - id: rome
  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        entry: fish_indent -w
        language: system
        types: [fish]
      - id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        types: [lua]
      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint -p --write ansible
        language: system
        files: "ansible/.*.ya?ml$"
        pass_filenames: false
      - id: standardrb
        name: standardrb
        language: system
        files: "(Brewfile.*|\\.rb)$"
        types: []
        entry: standardrb --fix
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.243"
    hooks:
      - id: ruff
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.17.0
    hooks:
      - id: stylua-github
        args: [--config-path, stylua/stylua.toml]

Use normal gemfile rather than templated one
  Gemfile
  ansible/tasks/ruby.yaml
  ansible/templates/Gemfile.j2
Due: ansible-lint

Remove obsolete tasks
  ansible/tasks/packages.yaml
Due: ansible-lint

Create provisioner framework in place of ansible
  scripts/provision.sh
Due: none

Move MacOS/homebrew config from ansible to provisioner.sh
  ansible/tasks/macos.yaml
  scripts/provision.d/os-darwin.sh
Due: ansible-lint

Move Ruby from ansible to provision.sh
  ansible/tasks/ruby.yaml
  scripts/provision.d/ruby.sh
Due: ansible-lint

Move dotfile setup from ansible to provisioner.sh
  ansible/tasks/dotfiles.yaml
  scripts/provision.d/dotfiles.sh
  scripts/provision.d/os-darwin.sh
Due: ansible-lint

Move Python from ansible to provision.sh
  ansible/tasks/python.yaml
  scripts/provision.d/python.sh
Due: ansible-lint

Track elapsed time of provisioner scripts
  scripts/provision.sh
Due: none

Move Rust from ansible to provision.sh
  ansible/tasks/rust.yaml
  scripts/provision.d/rust.sh
Due: ansible-lint

Move Node from ansible to provisioner.sh
  ansible/tasks/node.yaml
  default-node-packages.txt
  scripts/provision.d/node.sh
Due: ansible-lint

Support platform-specific provisioning scripts
  scripts/provision.sh
Due: none

Parallelise
  scripts/provision.d/python.sh
  scripts/provision.d/ruby.sh
Due: none

Move miscellaneous packages from ansible to provisioner.sh
  ansible/tasks/packages.yaml
  scripts/provision.d/os-darwin.sh
  scripts/provision.d/packages.sh
Due: ansible-lint

Replace ansible cronjob and remove remaining ansible config
  .pre-commit-config.yaml
  Brewfile
  ansible/ansible.cfg
  ansible/hosts.yaml
  ansible/main.yaml
  ansible/requirements.yaml
  cron.d/hourly/ansible.sh
  cron.d/hourly/provision.sh
Due: ansible-lint, standardrb

Update .gitignore
  .gitignore
Due: none

Source fish config in private repo
  fish/conf.d/private.fish
Due: none

Move cronjobs from ansible to provisioner.sh
  ansible/tasks/cronjobs.yaml
  ansible/templates/launchagent.plist.j2
  ansible/templates/logrotate-cron.conf.j2
  cron.d/LaunchAgent.tmpl
  scripts/provision.d/os-darwin.sh
  setenv.plist
Due: ansible-lint

Use relative symlinks for config
  scripts/provision.d/dotfiles.sh
  scripts/provision.d/os-darwin.sh
  scripts/provision.d/ruby.sh
  scripts/provision.sh
Due: none

Use getopts rather than DIY
  scripts/provision.sh
Due: none

Add a -o SCRIPT argument to provision.sh to run only one subscript
  scripts/provision.sh
Due: none

Refactor script loading
  scripts/provision.sh
Due: none

Only run homebrew if current user owns it
  scripts/provision.d/os-darwin.sh
Due: none

Don't autoformat Rust with clippy
  helix/languages.toml
Due: taplo

Change hostname
  Brewfile
Due: standardrb

Ensure /usr/local/bin is in PATH (might not be if homebrew isn't installed there)
  fish/config.fish
Due: none

Fix cronjob logic
  scripts/provision.d/os-darwin.sh
Due: none

Remove some unused functions
  fish/config.fish
  fish/functions/dark_mode.fish
  fish/functions/empty.fish
  fish/functions/ghv.fish
  fish/functions/nonempty.fish
  fish/functions/run_with_virtualenv.fish
  fish/functions/tmux_pane_title.fish
Due: none

Add an extra level of verbosity
  scripts/provision.sh
Due: none

Fix terminal cursor colour
  wezterm/wezterm.lua
Due: none

Fix json languageserver name
  helix/languages.toml
Due: taplo

Revert to basic vim (plus XDG settings)
  Brewfile
  fish/config.fish
  nvim
  nvim/filetype.lua
  nvim/ftplugin/markdown.lua
  nvim/init.lua
  vim/.luarc.json
  vim/filetype.vim
  vim/ftplugin/markdown.vim
  vim/init.vim
  vim/vimrc
Due: standardrb

Remove unnecessary (enabled by default) autoformat for json
  helix/languages.toml
Due: taplo

Ensure all dotenv variables are loaded
  fish/functions/dotenv_load.fish
Due: none

Remove unneeded bundler config
  bundler/config
Due: none

Keybinding for exchanging lines (a la vim-unimpaired)
  helix/config.toml
Due: taplo

Apply settings from defaults.vim and vim-sensible
  vim/vimrc
Due: none

Set a default ruby version in ~/.ruby-version so it's reset on cd-ing out of a ruby project
  fish/config.fish
  scripts/provision.d/ruby.sh
Due: none

Switch back to Zsh
  Brewfile
  _zshenv
  _zshrc
  fish/conf.d/00_platform.fish
  fish/conf.d/00_xdg.fish
  fish/conf.d/01_homebrew.fish
  fish/conf.d/02_fundle.fish
  fish/conf.d/private.fish
  fish/config.fish
  fish/functions/__fzf_cd.fish
  fish/functions/_virtualenv_autoload.fish
  fish/functions/diff.fish
  fish/functions/dotenv_allow.fish
  fish/functions/dotenv_allowed.fish
  fish/functions/dotenv_load.fish
  fish/functions/ducks.fish
  fish/functions/fish_title.fish
  fish/functions/git-fixup.fish
  fish/functions/mdwc.fish
  fish/functions/parsedate.fish
  fish/functions/rg.fish
  fish/functions/ruby-install.fish
  fish/functions/run_with_bundler.fish
  fish/functions/term_title.fish
Due: standardrb

Port _virtualenv_autoload function to zsh
  zsh/functions/_virtualenv_autoload
  zsh/zshrc
Due: none

Switch back to Zsh
  Brewfile
  fish/conf.d/00_platform.fish
  fish/conf.d/00_xdg.fish
  fish/conf.d/01_homebrew.fish
  fish/conf.d/02_fundle.fish
  fish/conf.d/private.fish
  fish/config.fish
  fish/functions/__fzf_cd.fish
  fish/functions/_virtualenv_autoload.fish
  fish/functions/diff.fish
  fish/functions/dotenv_allow.fish
  fish/functions/dotenv_allowed.fish
  fish/functions/dotenv_load.fish
  fish/functions/ducks.fish
  fish/functions/fish_title.fish
  fish/functions/git-fixup.fish
  fish/functions/mdwc.fish
  fish/functions/parsedate.fish
  fish/functions/rg.fish
  fish/functions/ruby-install.fish
  fish/functions/run_with_bundler.fish
  fish/functions/term_title.fish
  scripts/provision.d/dotfiles.sh
  zsh/zshenv
  zsh/zshrc
Due: standardrb
