Repository benjamineskola/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, ansible-lint, standardrb

taplo:
  name: taplo
  entry: taplo fmt
  language: system

ansible-lint:
  name: ansible-lint
  entry: ansible-lint -p --write ansible
  language: system
  pass_filenames: false

standardrb:
  name: standardrb
  language: system
  entry: standardrb --fix

Enable function autoloading/compilation
  zsh/zshrc
Due: none

Make dotfile loops more efficient
  scripts/provision.d/dotfiles.sh
Due: none

Set up fzf keybindings
  zsh/functions/_fzf_cd_widget
  zsh/functions/_fzf_find_file_widget
  zsh/zshrc
Due: none

Improve history config
  zsh/zshrc
Due: none

Port dotenv functions to zsh
  zsh/functions/_dotenv_load
  zsh/functions/dotenv_allow
  zsh/zshrc
Due: none

Port git-fixup function to zsh
  zsh/functions/git-fixup
Due: none

Restore some functions/aliases
  zsh/functions/rg
  zsh/zshrc
Due: none

Improve plugin load speed with Antidote
  .gitignore
  .pre-commit-config.yaml
  Brewfile
  zsh/plugins.txt
  zsh/zshrc
Due: standardrb

Remove duplication
  zsh/zshenv
Due: none

Treat / as a word divider
  zsh/zshrc
Due: none

Use direnv instead of custom dotenv functions
  Brewfile
  direnv/direnv.toml
  git/gitignore.global
  zsh/functions/_dotenv_load
  zsh/functions/dotenv_allow
  zsh/zshrc
Due: taplo, standardrb

Use direnv instead of custom virtualenv_autoload
  direnv/direnvrc
  zsh/functions/_virtualenv_autoload
  zsh/zshrc
Due: none

Implement rest of git-fixup (arg parsing)
  zsh/functions/git-fixup
Due: none

Use envvar rather than calling brew repeatedly
  zsh/zshrc
Due: none

Use zsh fast-syntax-highlighting (better as well as faster)
  zsh/plugins.txt
Due: none

Fix dotenv variable loading
  zsh/functions/_dotenv_load
Due: none

Hide zsh-specific code from shfmt
  zsh/zshrc
Due: none

Override terminal title setting
  zsh/zshrc
Due: none

Pre-commit for Zsh config too
  .pre-commit-config.yaml
Due: none

Indent shell with tabs not spaces
  .pre-commit-config.yaml
  helix/languages.toml
  vim/filetype.vim
Due: taplo

Update brewfile
  Brewfile
Due: standardrb

Remove GNU coreutils
  Brewfile
Due: standardrb

Lint
  cron.d/hourly/autocommit.sh
  cron.d/hourly/strava2dayone.sh
  scripts/provision.d/dotfiles.sh
  scripts/provision.d/node.sh
  scripts/provision.d/os-darwin.sh
  scripts/provision.d/python.sh
  scripts/provision.d/ruby.sh
  scripts/provision.d/rust.sh
  scripts/provision.sh
Due: none

Move zcompdump file to cache dir
  zsh/zshrc
Due: none

Ignore venvs
  git/gitignore.global
Due: none

Remove fish linting/formatting support
  .pre-commit-config.yaml
  helix/languages.toml
Due: taplo

Fix loading launchd jobs
  scripts/provision.d/os-darwin.sh
Due: none

Use zsh not fish/bash in launch agents
  cron.d/LaunchAgent.tmpl
Due: none

Use Colima, not Docker Desktop
  Brewfile
  scripts/provision.d/os-darwin.sh
Due: standardrb

AWS configs are INI files
  helix/languages.toml
Due: taplo

Use Fira Code again
  Brewfile
  wezterm/wezterm.lua
Due: standardrb

Fix cronjob loading
  scripts/provision.d/os-darwin.sh
Due: none

Run cronjobs also when they're first loaded
  cron.d/LaunchAgent.tmpl
Due: none

Run cronjobs through fdautil
  cron.d/LaunchAgent.tmpl
Due: none

Fix provisioning cronjob
  cron.d/hourly/provision.sh
Due: none

Remove ansible lint etc
  .ansible-lint
  Brewfile
Due: standardrb

Load language runtimes in zshenv (for noninteractive shells too)
  zsh/zshenv
  zsh/zshrc
Due: none

Fix keybinding for history-substring-search-up/down
  zsh/zshrc
Due: none

Path conditions:
  taplo: any of: \.toml$
  ansible-lint: any of: ansible/.*.ya?ml$
  standardrb: any of: (Brewfile.*|\.rb)$
